<%= form_with(model: product, class: "contents", data: {'controller': 'populate'}) do |form| %>
    <p>
    <%= product.itemcode %> <%= product.fabricode %><%= product.varcode %> 
    </p>    
                <%= form.text_area :description, class: "w-full p-0 m-0 border-0 leading-tight", rows: 2 %>tg <%= product.tg %><br>
                <%= product.color %><br>
                <%= product.materiale %>  
                <%= form.submit %> 
<% end %>

















