
  <h1 class="font-bold text-4xl mb-4">Utilities / Stampa etichette</h1>
  <hr>

<%# FILE UPLOAD %>

<section class="files flex justify-between items-center">



  <%= form_for @products_import do |f| %>
  <% if @products_import.errors.any? %>
    <%= pluralize(@products_import.errors.count, "error") %> prevented us from
    importing your spreadsheet. Please update your spreadsheet and try agin.
    <ul>
      <% @products_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.file_field :file, class:"py-4 my-4 bg-slate-50 inline-block rounded-sm" %>
  <%= f.submit "Import File", target: "_blank", class:"p-4 my-4 bg-slate-200 inline-block rounded-sm" %>
<% end %>

<div class="link_to_pdf">
<%= link_to "PDF", products_etichette_path(format: :pdf), target: "_blank", class:"p-4 my-4 bg-red-400 text-white font-bold inline-block rounded-sm" %>
</div>

</section>

<%# END FILE UPLOAD  %>

<hr>

<section class="list">


    <% i = 0 %>
    
    <% @etigroup.each do |craete, val| %>
        <% if i == 0 %>
        
        <h5 class="mt-4 font-bold uppercase">Ultimo inserimento</h5>
        
        <div class="columns-3 my-8">


          <% val.sort.each do |product| %>
          
            <% qty = product.qty.to_i %>
            <% qty.times do %>
              


              <div class="cell w-full h-1/8 p-4 overflow-hidden relative">
                <hr>

                <p>
                <%= product.itemcode %> <%= product.fabricode %><%= product.varcode %> 
                </p>   
                <%= turbo_frame_tag :description do  %> 
                 <span class="leading-tight h-8 block"><%= raw(product.description.gsub(/\R+/, '<br/>')) %> </span> <%= link_to 'edit', [:edit, product, attribute: :description ], class:"no-pdf text-end text-xs uppercase absolute top-0 right-0" %>
                <% end %>
                <br> tg <%= product.tg %><br>
                <%= product.color %><br>
                <%= product.materiale %>  
                <%= product.note %>  


                <hr>


              </div>
            <% end %>
 
          <% end %>
        </div>
        <% i +=1 %>
    <% end %>
    <% end %>
   
   


</section>


