
  <h1 class="font-bold text-4xl mr-4 mb-12">Utilities / Stampa etichette</h1>

<%# FILE UPLOAD %>

  <hr>
<section class="files flex justify-between items-center bg-blue-50 px-4" >

  <%= form_for @products_import do |f| %>
  <% if @products_import.errors.any? %>
    <%= pluralize(@products_import.errors.count, "error") %> prevented us from
    importing your spreadsheet. Please update your spreadsheet and try agin.
    <ul>
      <% @products_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.file_field :file, class:"py-4 my-4 bg-blue-50 inline-block rounded-sm" %>
  <%= f.submit "Importa", target: "_blank", class:"p-4 my-4 bg-blue-200 inline-block rounded-sm uppercase text-sm cursor-pointer" %>
<% end %>

<div class="link_to_pdf">
<%= link_to "PDF", products_etichette_path(:format => :pdf), target: "_blank", class:"p-4 my-4 bg-red-400 text-white font-bold inline-block rounded-sm" %>
</div>

</section>

<%# END FILE UPLOAD  %>

<hr>

<section class="list mt-12">


  <%= render partial: '/utilities/etix' %>


  <hr>

</section>
