<%= form_with(model: tempestum, class: "contents") do |form| %>
  <% if tempestum.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(tempestum.errors.count, "error") %> prohibited this tempestum from being saved:</h2>

      <ul>
        <% tempestum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :prow_id %>
    <%= form.text_field :prow_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :f0 %>
    <%= form.check_box :f0, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :f1 %>
    <%= form.check_box :f1, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :f2 %>
    <%= form.check_box :f2, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :f3 %>
    <%= form.check_box :f3, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :f4 %>
    <%= form.check_box :f4, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :f5 %>
    <%= form.check_box :f5, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :f1date %>
    <%= form.time_field :f1date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :f2date %>
    <%= form.time_field :f2date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :f3date %>
    <%= form.time_field :f3date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :f4date %>
    <%= form.time_field :f4date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :f5date %>
    <%= form.time_field :f5date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
