<div class="columns-3">
        <% i = 0 %>
       <% @products.each do |iz, val| %>
        <% if i == 0 %>

          <% val.sort.each do |product| %>

             <% qty = product.qty.to_i %>
              <% qty.times do %>
                <div class="cell">
                  <div class="content">
                <%= product.itemcode %> <%= product.fabricode %> <%= product.varcode %> <br>
                
                <%= raw(product.description.gsub(/\R+/, '<br/>')) %><br>
               
                tg <%= product.tg %><br>
                <%= product.color %><br>
                <%= product.materiale %>  
                </div>
                </div>
            <% end %>

          <% end %>

        <% i += 1%>
    <% end %>
    <% end %>

  
</div>
