<div id="et">
        <% counter = 0 %>
        <% i = 0 %>
       <% @products.each do |iz, val| %>
        <% if i == 0 %>
          <% val.sort.each do |product| %>

             <% qty = product.qty.to_i %>
              <% qty.times do %>
                <div class="cell">
                  <div style="text-align:left; font-size: 8.65pt; line-height:10.4pt;margin: 0; padding: 0.4cm;width: 62mm; min-width: 62mm; height: 36mm; min-height: 36mm">
                    <%= product.itemcode %> <%= product.fabricode %> <%= product.varcode %>
                    <p>
                      <%= raw(product.description.gsub(/\R+/, '<br/>')) %></p>

                    <p>tg <%= product.tg %></p>
                <%= product.color %><br>
                <%= product.materiale %>
                </div>
                <% counter = counter + 1 %>
                </div>
            <% end %>
              <% if counter.modulo(24) == 0 %>
              <div style="clear:both; page-break-after: always;"></div>
              <% end %>

          <% end %>

        <% i += 1 %>
    <% end %>
    <% end %>
</div>
