<div style="margin: 0; width: 210mm; min-width: 210mm; background: #fff; font-family: 'Arial', sans-serif; box-sizing:border-box ">
        <% counter = 0 %>
        <% i = 0 %>
       <% @products.each do |iz, val| %>
        <% if i == 0 %>
          <% val.sort.each do |product| %>

             <% qty = product.qty.to_i %>
              <% qty.times do %>
                <div style="min-width: 33.3%; height: 36mm!important; min-height: 36mm; margin:0; padding:0; display:inline-block ;overflow:auto; box-shadow: 0 0 1px rgba(0,0,0,1); text-align:left;">
                  <div style="text-align:left; font-size: 8.65pt; line-height:10.4pt;margin: 0; padding: 0.4cm;width: 62mm; min-width: 62mm; height: 28mm; min-height: 28mm">
                    <%= product.itemcode %> <%= product.fabricode %> <%= product.varcode %>
                    <p>
                      <%= raw(product.description.gsub(/\R+/, '<br/>')) %></p>

                    <p>tg <%= product.tg %></p>
                <%= product.color %><br>
                <%= product.materiale %>
                </div>
                <% counter = counter + 1 %>
                </div>
                <% if counter.modulo(24) == 0 %>
                <div style="clear:both; page-break-after: always;"></div>
                <% end %>
            <% end %>

          <% end %>

        <% i += 1 %>
    <% end %>
    <% end %>
</div>
