        <% i = 0 %>
       <% @products.each do |iz, val| %>
        <% if i == 0 %>

          <% val.sort.each do |product| %>

             <% qty = product.qty.to_i %>
              <% qty.times do %>
                <div style="width: 6cm; height: 2cm; padding: 1cm 0.8cm">
                  <div class="content">
                <%= product.itemcode %> <%= product.fabricode %> <%= product.varcode %> <br>

                <%= raw(product.description.gsub(/\R+/, '<br/>')) %><br>

                tg <%= product.tg %><br>
                <%= product.color %><br>
                <%= product.materiale %>
                </div>
                </div>
            <% end %>

          <% end %>

        <% i += 1%>
    <% end %>
    <% end %>
